@use './tools.scss' as tools;

.Input {
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid tools.colors(blackOne);
  outline: none;
  font-size: tools.fontSizes(s);
  font-family: 'Poppins', sans-serif;
  color: tools.colors(blackOne);
  padding: tools.spacing(xxs);
  background-color: transparent;
}

.Button {
  padding: 5px 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 100px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;

  &__primary {
    background-color: tools.colors(blackOne);
    color: #fff;
  }

  &__secondary {
    background-color: #fff;
    color: tools.colors(blackOne);
  }
}

.Spinner {
  width: 30px;
  height: 30px;
  border: 3px solid tools.colors(beigeOne);
  border-right: 2px solid transparent;
  border-radius: 50px;
  animation: spin 500ms infinite both;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
