<main class="Dialog">
  <h1 class="Dialog__title">Cambiar precio</h1>
  <section class="Dialog__body">
    <div class="Dialog__body__control">
      <label class="Dialog__body__control__label">Pesos</label>
      <input [(ngModel)]="price" class="Input" type="number" placeholder="Nuevo precio ARS">
    </div>
    <div class="Dialog__body__control">
      <label class="Dialog__body__control__label">USD</label>
      <input [(ngModel)]="usdPrice" class="Input" type="number" placeholder="Nuevo precio USD">
    </div>
    <div class="Dialog__body__actions">
      <app-button text="Aceptar" type="Primary" (click)="changePrice()"/>
    </div>
  </section>
</main>
