@use "../../../styles/tools.scss" as tools;

.Dashboard {
  display: flex;

  @media screen and (max-width: 799px) {
    display: flex;
    flex-direction: column;
  }

  &__content {
    background-color: tools.colors(beigeThree);
    width: 100%;
    height: 100vh;
  
  }
}
