<aside class="Sidebar">
  <span class="Sidebar__menu" (click)="toggleSidebar()">
    <img class="Navbar__menu__image" src="../../../../assets/svg/menu.svg" />
  </span>
  <div class="Sidebar__profile">
    <span class="Sidebar__profile__image"> <img src="../../../../assets/images/banner.jpg" alt="right"></span>
    <span class="Sidebar__profile__name">Jimena Paz</span>
  </div>
  <div class="Sidebar__sections">
    <span class="Sidebar__sections__item" routerLink="sales"> <img src="../../../../assets/svg/cart.svg" alt=""> Ventas</span>
    <span class="Sidebar__sections__item" routerLink="posts"> <img src="../../../../assets/svg/instagram.svg" alt=""> Publicaciones</span>
    <span class="Sidebar__sections__item" routerLink="templates"> <img src="../../../../assets/svg/template.svg" alt=""> Plantillas</span>
    <span class="Sidebar__sections__item" routerLink="subscriptors"> <img src="../../../../assets/svg/message.svg" alt=""> Suscriptores</span>
    <span class="Sidebar__sections__item" routerLink="project"> <img src="../../../../assets/svg/projects.svg" alt=""> Proyectos</span>

    <span class="Sidebar__sections__item Sidebar__sections__item--logout" (click)="logout()"> <img src="../../../../assets/svg/logout.svg" alt=""> Cerrar sesión</span>
  </div>
  <div class="Sidebar__mobile">
    <span class="Sidebar__mobile__logout" (click)="logout()"> <img src="../../../../assets/svg/logout.svg" alt=""> </span>
  </div>
</aside>

@if (sidebarOpen) {
  <app-sidebar-mobile (closed)="toggleSidebar()" />
  }

