<aside class="Sidebar">
  <div class="Sidebar__profile">
    <span class="Sidebar__profile__image"></span>
    <span class="Sidebar__profile__name">Jimena Paz</span>
  </div>
  <div class="Sidebar__sections">
    <span class="Sidebar__sections__item" routerLink="sales"> <img src="../../../../assets/svg/cart.svg" alt=""> Ventas</span>
    <span class="Sidebar__sections__item" routerLink="posts"> <img src="../../../../assets/svg/template.svg" alt=""> Publicaciones</span>
    <span class="Sidebar__sections__item" routerLink="templates"> <img src="../../../../assets/svg/instagram.svg" alt=""> Plantillas</span>
    <span class="Sidebar__sections__item Sidebar__sections__item--logout" (click)="logout()"> <img src="../../../../assets/svg/logout.svg" alt=""> Cerrar sesión</span>
  </div>
</aside>
