@use "../../../styles/tools.scss" as tools;

.Sidebar {
  height: 100vh;
  width: 250px;
  background-color: tools.colors(beigeOne);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 799px) {
   flex-direction: row;
   height: 80px;
   width: 100%;
   background-color:tools.colors(beigeTwo) ;
   align-items: center;
   justify-content: space-around;
  }

  &__menu {
    @media screen and (min-width: 800px) {
      display: none;
    }

    &__image {
      height: 40px;
    }
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    @media screen and (max-width: 799px) {
      justify-content: center;
      margin-top: 2px;
    }

    &__image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: tools.colors(beigeThree);
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 799px) {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;

        @media screen and (max-width: 799px) {
          width: 60px;
          height: 60px;
        }
      }
    }

    &__name {
      margin-top: 10px;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      color: #eee;
      @media screen and (max-width: 799px) {
        display: none;
      }
    }
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: tools.spacing(s);
    margin-top: 2em;
    width: 100%;
    position: relative;
    height: 100%;

    @media screen and (max-width: 799px) {
      display: none;
    }

    &__item {
      color: #fff;
      cursor: pointer;
      margin-left: 5px;
      font-family: "Poppins", sans-serif;
      display: inline-flex;
      align-items: center;
      gap: 5px;

      &--logout {
        position: absolute;
        bottom: 25px;
      }
    }
  }
  &__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

    @media screen and (min-width: 800px) {
      display: none;
    }

    &__logout {
    color: tools.colors(blackOne);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    
    @media screen and (min-width: 800px) {
      display: none;
    }

    
    }
  }
}
