<main class="Main">
  <app-navbar class="Main__navbar" />

  <section class="Main__body">
    <section class="Main__body__welcome">
      <!-- <h1 class="Main__body__welcome__title">BIENVENID&commat;</h1> -->
      <h1 class="Main__body__welcome__title"> {{ 'welcome' | translate }} </h1>
      <button class="Main__body__welcome__button">
        {{ 'work' | translate }}
      </button>

      <img
        class="Main__body__welcome__isoimage"
        src="../../../../assets/images/logoisotipo.png"
      />
    </section>
    <section class="Main__body__banner">
      <img class="Main__body__banner__image" src="../../../../assets/images/banner.jpg" alt="banner">
    </section>
  </section>

  <section class="Main__about">
    <p class="Main__about__text">
      {{ 'homeText' | translate }}
    </p>
  </section>

  <section class="Main__templates">
    <div class="Main__templates__wrapper">
      <section class="Main__templates__wrapper__banner"></section>
    </div>

    <section class="Main__templates__info">
      <h1 class="Main__templates__info__title">
        {{ 'homeCardTitle' | translate }}
      </h1>
      <p class="Main__templates__info__body">
        {{ 'homeCardInfo' | translate }}
      </p>

      <div class="Main__templates__wrapper--mobile">
        <section class="Main__templates__wrapper__banner--mobile"></section>
      </div>

      <button class="Main__templates__info__button"> {{ 'templates' | translate }}</button>
    </section>
  </section>

  <section class="Main__news">
    <section class="Main__news__form">
      <h1 class="Main__news__form__title"> {{ 'suscribe' | translate }}</h1>
      <p class="Artcile__news__form__subtitle">
        {{ 'receive' | translate }}
      </p>

      <app-newsletter></app-newsletter>
    </section>
    <div class="Main__news__wrapper">
      <section class="Main__news__wrapper__banner"></section>
    </div>
  </section>

  <section class="Main__gallery">
    <app-gallery class="Main__gallery__component" />
  </section>

  <app-footer class="Main__footer" />
</main>
