<main class="Main">
  <app-navbar class="Main__navbar" />

  <section class="Main__body">
    <section class="Main__body__welcome">
      <h1 class="Main__body__welcome__title">BIENVENID&commat;</h1>
      <button class="Main__body__welcome__button">
        TRABAJEMOS JUNT&commat;S
      </button>

      <img
        class="Main__body__welcome__isoimage"
        src="../../../../assets/images/logoisotipo.png"
      />
    </section>
    <section class="Main__body__banner">
      <img class="Main__body__banner__image" src="../../../../assets/images/banner.jpg" alt="banner">
    </section>
  </section>

  <section class="Main__about">
    <p class="Main__about__text">
      Nos emociona materializar las ideas de nuestros clientes mediante un
      diseño vanguardista y funcional, prestando atención meticulosa a cada
      detalle para lograr un resultado completo. No simplemente creamos
      espacios; nuestra misión se extiende a asesorar e inspirar a profesionales
      tanto presentes como futuros.
    </p>
  </section>

  <section class="Main__templates">
    <div class="Main__templates__wrapper">
      <section class="Main__templates__wrapper__banner"></section>
    </div>

    <section class="Main__templates__info">
      <h1 class="Main__templates__info__title">
        Comprendemos el punto en el que te encuentras
        ¡Nosotras estuvimos ahí!
      </h1>
      <p class="Main__templates__info__body">
        Ante la falta de orientación al inicio de nuestro camino, creamos una plataforma para ofrecer ayuda y claridad,
        proporcionando acceso a plantillas que faciliten tu trayectoria.
      </p>

      <div class="Main__templates__wrapper--mobile">
        <section class="Main__templates__wrapper__banner--mobile"></section>
      </div>

      <button class="Main__templates__info__button">Plantillas</button>
    </section>
  </section>

  <section class="Main__news">
    <section class="Main__news__form">
      <h1 class="Main__news__form__title">SUSCRIBETE AL NEWSLETTER</h1>
      <p class="Artcile__news__form__subtitle">
        Recibe a Último ojo en tu bandeja de entrada!
      </p>

      <app-newsletter></app-newsletter>
    </section>
    <div class="Main__news__wrapper">
      <section class="Main__news__wrapper__banner"></section>
    </div>
  </section>

  <section class="Main__gallery">
    <app-gallery class="Main__gallery__component" />
  </section>

  <app-footer class="Main__footer" />
</main>
