<main class="Main">
  <app-navbar class="Main__navbar" />

  <section class="Main__body">
    <section class="Main__body__welcome">
      <h1 class="Main__body__welcome__title">BIENVENID&commat;</h1>
      <button class="Main__body__welcome__button">
        TRABAJEMOS JUNT&commat;S
      </button>

      <img
        class="Main__body__welcome__isoimage"
        src="../../../../assets/images/logoisotipo.png"
      />
    </section>
    <section class="Main__body__banner"></section>
  </section>

  <section class="Main__about">
    <p class="Main__about__text">
      Nos emociona materializar las ideas de nuestros clientes mediante un
      diseño vanguardista y funcional, prestando atención meticulosa a cada
      detalle para lograr un resultado completo. No simplemente creamos
      espacios; nuestra misión se extiende a asesorar e inspirar a profesionales
      tanto presentes como futuros.
    </p>
  </section>
</main>

<Article class="Article">
  <section class="Article__templates">
    <div class="Article__templates__wrapper">
      <section class="Article__templates__wrapper__banner"></section>
    </div>

    <section class="Article__templates__info">
      <h1 class="Article__templates__info__title">
        Comprendemos exactamente el punto en el que te encuentras ahora porque
        nosotras estuvimos ahí!
      </h1>
      <p class="Article__templates__info__body">
        Al iniciar nuestro camino, nos enfrentamos a numerosas preguntas sin
        encontrar la plataforma, lugar o persona adecuada que pudiera
        proporcionarnos la ayuda y claridad que necesitábamos. Fue esta
        experiencia la que nos impulsó a crear esta plataforma, con el objetivo
        de brindarte acceso a plantillas que faciliten tu trayectoria.
      </p>
      <button class="Article__templates__info__button">Plantillas</button>
    </section>
  </section>

  <section class="Article__news">
    <section class="Article__news__form">
      <h1 class="Article__news__form__title">SUSCRIBETE AL NEWSLETTER</h1>
      <p class="Artcile__news__form__subtitle">
        Recibe a Último ojo en tu bandeja de entrada!
      </p>

      <app-newsletter></app-newsletter>
    </section>
    <div class="Article__news__wrapper">
      <section class="Article__news__wrapper__banner"></section>
    </div>
  </section>
</Article>

<app-footer></app-footer>
