@use "../../../styles/tools.scss" as tools;

.Posts {
  & {
    padding: 5%;
    max-height: 100vh;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-size: 2em;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
    }

    &__button {
      width: 200px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-top: 1em;

    &__card {
      padding: 1em;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 1em;
      background-color: tools.colors(beigeTwo);
      position: relative;

      &__image {
        height: 250px;
        width: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
          max-width: 300px;
        }
      }

      &__link {
        font-size: 1.1em;
        max-width: 300px;
        overflow: hidden;

        a {
          font-size: 15px;
          text-wrap: nowrap;
        }
      }

      &__delete {
        background-color: #50505080;
        color: #fff;
        width: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
        padding: 10px;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
          background-color: #50505050;
        }
      }
    }
  }
}
