<main class="Posts">
  <header class="Posts__header">
    <h1 class="Posts__header__title">Proyectos</h1>
    <button class="Button Button__primary Posts__header__button" (click)="openDialogCreateProject()">Nuevo</button>
  </header>

  <section class="Posts__body">
    @for (project of projects(); track $index) {
    <div class="Posts__body__card">
      <div class="Posts__body__card__image">
        <img [src]="downloadImageUrl + '/' + project.portrait" alt="post" />
      </div>
      <span class="Posts__body__card__link">
        Titulo:
        {{ project.title }}
      </span>
      <span class="Posts__body__card__imagesLoaded">
        Imágenes cargadas:
        {{ project.images.length }}
      </span>
      <span class="Posts__body__card__flatLoaded">
        Plano cargado:
        {{ project.flat ? 'Sí' : 'No' }}
      </span>
      <span class="Posts__body__card__delete" (click)="deleteProject(project.id!)">
        <img src="../../../../assets/svg/delete.svg" alt="delete" />
      </span>
    </div>
    }
  </section>
</main>
