<main class="Main">
  <app-navbar class="Main__navbar" />

  <section class="Main__body">
    <section class="Main__body__welcome">
      <h1 class="Main__body__welcome__title">{{ 'known' | translate }}</h1>
      <button class="Main__body__welcome__button">{{ 'more' | translate }}</button>
    </section>

    <section class="Main__body__banner"></section>
  </section>

  <section class="Main__about">
    <p class="Main__about__text">
      {{ 'aboutText' | translate }}
    </p>

    <article class="Main__about__description">
      <div class="Main__about__description__wrapper">
        <section class="Main__about__description__wrapper__banner"></section>
      </div>

      <div class="Main__about__description__wrapper--mobile">
        <section
          class="Main__about__description__wrapper__banner--mobile"
        ></section>
      </div>

      <p class="Main__about__description__text">
        {{ 'aboutDescription' | translate }}
      </p>
    </article>
  </section>

  <app-footer />
</main>
