<main class="Main">
  <app-navbar class="Main__navbar" />

  <section class="Main__body">

    <section class="Main__body__welcome">
      <h1 class="Main__body__welcome__title">Conocé un poco sobre Nosotras</h1>
      <button class="Main__body__welcome__button">Ver más</button>
    </section>

    <section class="Main__body__banner"></section>

  </section>

  <section class="Main__about">
    <p class="Main__about__text">
      Somos Madre e hija, unidas por nuestra pasion por el diseño en todas sus
      presentaciones. Arquitecta y Diseñadora trabajando juntas para llevar a
      cabo las ideas de nuestros clientes a través de un diseño vanguardista y
      funcional teniendo en cuenta cada detalle para obtener un resultado
      íntegro.
    </p>

    <article class="Main__about__description">
      <div class="Main__about__description__image">
        <img src="https://picsum.photos/200/300">
      </div>
      <p class="Main__about__description__text">
        Si llegaste hasta aquí es porque probablemente necesites renovar,
        crear tu espacio o simplemente quieres emprender en el rubro y no sabes
        por donde comenzar! cualquiera que sea la razón no dudes en contactarnos.
      </p>
    </article>
  </section>

  <app-footer />
</main>
