@use "../../../styles/tools.scss" as tools;

.Dialog {
  & {
    padding: 5%;
    max-height: 100vh;
    overflow-y: auto;
  }

  &__header {
    &__title {
      font-size: 2em;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
    }
  }

  &__body {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    button {
      width: 300px;
    }

    &__flat {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        &__item {
          position: relative;
          height: auto;
          width: auto;

          &__image {
            width: 50px;
            height: 50px;
            border-radius: 5px;
          }

          &__delete {
            position: absolute;
            top: 0;
            right: -5px;
            cursor: pointer;
          }
        }
      }
    }

    &__gallery {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        &__item {
          position: relative;
          height: auto;
          width: auto;

          &__image {
            width: 50px;
            height: 50px;
            border-radius: 5px;
          }

          &__delete {
            position: absolute;
            top: 0;
            right: -5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__footer {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    &__save {
      width: 300px;
    }
  }
}
