@use "../../../styles/tools.scss" as tools;

.Dialog {
  & {
    padding: 5%;
    max-height: 100vh;
    overflow-y: auto;
  }

  &__header {
    &__title {
      font-size: 2em;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
    }
  }

  &__body {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    button {
      width: 300px;
    }


    &__portrait {
      display: flex;
      flex-direction: column;

      &__images {
        display: flex;
        align-items: center;
        gap: 10px;

        &__button {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          background-color: #25252580;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        &__preview {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          position: relative;

          &__image {
            width: 50px;
            height: 50px;
            border-radius: 5px;
          }

          &__delete {
            position: absolute;
            top: 0;
            right: -5px;
            cursor: pointer;
          }
        }
      }
    }

    &__flat {
      display: flex;
      flex-direction: column;

      &__images {
        display: flex;
        align-items: center;
        gap: 10px;

        &__button {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          background-color: #25252580;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        &__preview {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          &__item {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 5px;

            &__image {
              width: 50px;
              height: 50px;
              border-radius: 5px;
            }

            &__delete {
              position: absolute;
              top: 0;
              right: -5px;
              cursor: pointer;
            }
          }
        }
      }
    }

    &__gallery {
      display: flex;
      flex-direction: column;

      &__images {
        display: flex;
        align-items: center;
        gap: 10px;

        &__button {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          background-color: #25252580;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        &__preview {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          &__item {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 5px;

            &__image {
              width: 50px;
              height: 50px;
              border-radius: 5px;
            }

            &__delete {
              position: absolute;
              top: 0;
              right: -5px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__footer {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    &__save {
      width: 300px;
    }
  }
}
