<main class="Main">
  <app-navbar class="Main__navbar" />

  <section class="Main__body">
    <section class="Main__body__form">
      <h1 class="Main__body__form__title">Contactanos</h1>

      <form class="Main__body__form__inputs">
        <div class="Main__body__form__inputs__name">
          <app-input class="Main__body__form__inputs__name__control" placeholderValue="Nombre"></app-input>
          <app-input class="Main__body__form__inputs__name__control" placeholderValue="Apellido"></app-input>
        </div>
        <div class="Main__body__form__inputs__email">
          <app-input class="Main__body__form__inputs__email__control" [placeholderValue]="'Email'"></app-input>
        </div>
        <div class="Main__body__form__inputs__message">
          <app-textarea class="Main__body__form__inputs__message__control" placeholderValue="Mensaje"></app-textarea>
        </div>
        <div class="Main__body__form__inputs__send">
          <app-button [text]="'Enviar Mensaje'"></app-button>
        </div>
      </form>
    </section>
  </section>

  <app-footer />
</main>
