@use "../../../styles/tools.scss" as tools;

.Main {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    display: grid;
    height: 100%;
    background-color: tools.colors(beigeThree);

    @media screen and (max-width: 799px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-block: 31%;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: tools.spacing(xxl);
      margin-bottom: tools.spacing(xxl);

      &__title {
        font-size: tools.fontSizes(xl);
        font-family: "Hatton";
        font-weight: lighter;
        text-align: center;

        @media screen and (max-width: 799px) {
          font-size: tools.fontSizes(l);
          margin-top: tools.spacing(xxl);
        }
      }

      &__inputs {
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 5px;
        gap: tools.spacing(m);

        @media screen and (max-width: 799px) {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__name {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          flex-wrap: nowrap;
          gap: tools.spacing(m);

          &__control {
            width: 100%;
          }

          @media screen and (max-width: 799px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
          }
        }

        &__email {
          width: 100%;
          &__control {
            width: 100%;
          }
        }

        &__message {
          width: 100%;
          &__control {
            width: 100%;
          }
        }
      }
    }
  }
}
