<section class="Wrapper">
  <form class="Wrapper__form" [formGroup]="form">
    <h1 class="Wrapper__form__title">Acceso al sistema</h1>
    <input class="Input" formControlName="username" type="text" placeholder="Usuario">
    <input class="Input" formControlName="password" type="password" placeholder="Contraseña">

    <footer class="Wrapper__form__actions">
      <app-button type="Primary" text="Acceder" (click)="login()"></app-button>
      <app-button type="Secondary" text="Volver" routerLink="/home"></app-button>
    </footer>
  </form>
</section>
