@use "../../../styles/tools.scss" as tools;

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: tools.colors(beigeThree);

  &__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: tools.spacing(m);

    &__title {
      text-align: center;
      font-family: "Hatton";
      font-size: tools.fontSizes(l);
      width: 100%;
    }
  }
}
