<main class="Wrapper">
  <aside class="Sidebar">
    <div class="Sidebar__content">
      <span routerLink="/home" class="Sidebar__content__option">Inicio</span>
      <span routerLink="/about" class="Sidebar__content__option">Nosotros</span>
      <span routerLink="/home" class="Sidebar__content__option">Plantillas</span>
      <span routerLink="/newsletter" class="Sidebar__content__option">Newsletter</span>
      <span routerLink="/contact" class="Sidebar__content__option">Contacto</span>

      <span routerLink="/login" class="Sidebar__content__login">Login</span>
    </div>

  </aside>
  <span class="Sidebar__close" (click)="close()">
    <img src="../../../../assets/svg/close.svg">
  </span>
</main>
