@use "../../../styles/tools.scss" as tools;

.Main {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__body {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;

    @media screen and (max-width: 799px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__welcome {
      background-color: tools.colors(beigeThree);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: tools.spacing(l);
      padding-block: 13.7%;

      @media screen and (max-width: 799px) {
        gap: 30px;
      }

      &__title {
        font-size: tools.spacing(xxl);
        font-family: "Hatton";

        @media screen and (max-width: 799px) {
          font-size: 30px;
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin: tools.spacing(s);
        gap: 20px;

        &__ul {
          font-size: tools.fontSizes(s);
          font-family: "Poppins", sans-serif;

          &__img {
            height: 25px;

            @media screen and (max-width: 799px) {
              height: 15px;
            }
          }
        }
      }

      &__button {
        background-color: tools.colors(beigeOne);
        border-radius: 100px;
        padding: 15px 35px;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: lighter;
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        gap: 10px;

        @media screen and (max-width: 799px) {
          font-size: 15px;
        }

        &__icon {
          height: 24px;
        }
      }
    }

    &__banner {
      background: url("../../../../assets/images/Pack.png");
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 799px) {
        height: 400px;
      }
    }
  }

  &__footer {
    width: 100%;
  }
}
