<main class="Main">
  <app-navbar class="Main__navbar" />

  <section class="Main__body">
    <section class="Main__body__welcome">
      <h1 class="Main__body__welcome__title">Pack 3 Plantillas | ${{template().price}}</h1>

      <div class="Main__body__welcome__list">
        <h2 class="Main__body__welcome__list__ul">
          <img
            class="Main__body__welcome__list__ul__img"
            src="../../../../assets/svg/check.svg"
            alt="Ceck"
          />
          Contrato para prestación de servicios
        </h2>
        <h2 class="Main__body__welcome__list__ul">
          <img
            class="Main__body__welcome__list__ul__img"
            src="../../../../assets/svg/check.svg"
            alt="Ceck"
          />
          Cuestionario para clientes
        </h2>
        <h2 class="Main__body__welcome__list__ul">
          <img
            class="Main__body__welcome__list__ul__img"
            src="../../../../assets/svg/check.svg"
            alt="Ceck"
          />Presupuestos
        </h2>
      </div>

      <button class="Main__body__welcome__button"  (click)="addTemplate()"> <img class="Main__body__welcome__button__icon" src="../../../../assets/svg/cart.svg"> Agregar al carrito</button>
    </section>
    <section class="Main__body__banner"></section>
  </section>

  <section class="Main__bonus">
    <app-bonus (add)="addTemplate()"></app-bonus>
  </section>

  <app-footer class="Main__footer" />
</main>
