<div class="Wrapper">
  <section class="Paginator">
    <span class="Paginator__info"> {{ totalItems }} Elementos</span>
    <div class="Paginator__control">
      <div class="Paginator__control__button" (click)="previous()">
        <span class="Paginator__control__button__icon"
          ><img src="../../../assets/svg/left.svg" alt="left"
        /></span>
      </div>
    </div>
    <span class="Paginator__info"> {{ currentPage }} / {{ maxPages }} </span>
    <div class="Paginator__control">
      <div class="Paginator__control__button" (click)="next()">
        <span class="Paginator__control__button__icon">
          <img src="../../../assets/svg/right.svg" alt="right"
        /></span>
      </div>
    </div>
  </section>
</div>
