<footer class="Footer">
  <section class="Footer__sections">
    <section class="Footer__sections__contact">
      <h4 class="Footer__sections__contact__title">Contacto</h4>
      <div class="Footer__sections__contact__list">
        <span class="Footer__sections__contact__list__item"
          >+54 9 1139522723</span
        >
        <span class="Footer__sections__contact__list__item"
          >ultimoojo.vs&commat;gmail.com</span
        >
        <span
          class="Footer__sections__contact__list__item Footer__sections__contact__list__item--instagram"
        >
          <img src="../../../../assets/svg/instagram.svg" alt="instagram" />
          <a href="https://www.instagram.com/ultimoojo/">Instagram</a></span
        >
      </div>
    </section>
    <section class="Footer__sections__legal">
      <h4 class="Footer__sections__legal__title">Legales</h4>
      <div class="Footer__sections__legal__list">
        <span class="Footer__sections__legal__list__item"
          >Términos y condiciones</span
        >
        <span class="Footer__sections__legal__list__item"
          >Políticas de privacidad</span
        >
      </div>
    </section>
    <section class="Footer__sections__location">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.232912044284!2d-58.25929733815496!3d-34.72452306377613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e41e9ba3e49%3A0x7660e8010dc527d9!2sMoreno%20Parking!5e0!3m2!1sen!2sar!4v1705928933159!5m2!1sen!2sar"
        width="400"
        height="200"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>
  </section>
  <section class="Footer__copyright">
    <span>
      © {{ currentYear }} Ultimo Ojo
    </span>
    <img src="../../../../assets/images/logorelo.jpg">
  </section>
</footer>
