<footer class="Footer">
  <section class="Footer__sections">
    <section class="Footer__sections__contact">
      <h4 class="Footer__sections__contact__title">Contacto</h4>
      <div class="Footer__sections__contact__list">
        <span class="Footer__sections__contact__list__item">+54 9 1139522723</span>
        <span class="Footer__sections__contact__list__item">ultimoojo.vs&commat;gmail.com</span>
        <span class="Footer__sections__contact__list__item Footer__sections__contact__list__item--instagram"> <img src="../../../../assets/svg/instagram.svg" alt="instagram"> <a href="https://www.instagram.com/ultimoojo/">Instagram</a></span>
      </div>
    </section>
    <section class="Footer__sections__legal">
      <h4 class="Footer__sections__legal__title">Legales</h4>
      <div class="Footer__sections__legal__list">
        <span class="Footer__sections__legal__list__item">Términos y condiciones</span>
        <span class="Footer__sections__legal__list__item">Políticas de privacidad</span>
      </div>
    </section>
  </section>
  <section class="Footer__copyright">
    © {{currentYear}} Ultimo Ojo
  </section>
</footer>
