@use "../../../styles/tools.scss" as tools;

.Inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5px;
  width: 100%;
  gap: tools.spacing(m);

  &__name {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: nowrap;
    gap: tools.spacing(m);
  }
}
