@use '../../../styles/tools.scss' as tools;

.Page {
  & {
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 800px;

    @media screen and (max-width: 799px) {
      width: 100%;
      padding-inline: 25px;
    }

  }

  &__title {
    @media screen and (max-width: 799px) {
      text-align: center;
    }
  }

  &__follow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    a {
      color: tools.colors(blackOne);
      text-decoration: none;
    }
  }

  &__text {
    font-size: 20px;
  }

  &__button {
    width: 300px;
  }
}
