<app-navbar/>

<main class="Page">
  <h1 class="Page__title">Gracias por tu compra.</h1>
  <p class="Page__text">En breve confirmamos el pago y te enviaremos tu compra por mail</p>

  <p class="Page__follow">
    <img src="../../../../assets/svg/instagram-black.svg" alt="instagram">
    <a href="https://www.instagram.com/ultimoojo/">Seguinos en instagram como &commat;ultimoojo</a>
  </p>

  <button class="Page__button Button Button__primary" routerLink="/home">Volver al inicio</button>
</main>

<app-footer/>
