<main class="Main">
    <app-navbar class="Main__navbar" />

    <section class="Main__body">
      <section class="Main__body__welcome">
        <h1 class="Main__body__welcome__title">{{ 'canvaTemplate' | translate }} | ${{ country === 'Argentina' ? template()?.price : template()?.usdPrice }}</h1>

        <h2 class="Main__body__welcome__description">{{template()?.description}}</h2>

        <button class="Main__body__welcome__button"
          (click)="addTemplate()"
        >
          <img class="Main__body__welcome__button__icon" src="../../../../assets/svg/cart.svg">
          {{ 'cart' | translate }}
        </button>
      </section>
      <section class="Main__body__banner"></section>
    </section>

    <section class="Main__bonus">
      <app-bonus (add)="addTemplate()"></app-bonus>
    </section>

    <app-footer class="Main__footer" />
  </main>

