<main class="Main">
    <app-navbar class="Main__navbar" />

    <section class="Main__body">
      <h1 class="Main__body__title">{{ 'projectTitle' | translate }}</h1>

      <section class="Main__body__grid">
        @for (item of projects(); track $index) {
          <div class="Main__body__grid__card">
            <div class="Main__body__grid__card__capture">
              <img class="Main__body__grid__card__capture__image" [src]="downloadImageUrl + '/' + item.portrait">

              <div class="Main__body__grid__card__capture__panel">
                @if(item.images && item.images.length) {
                  <span class="Main__body__grid__card__capture__panel__option" (click)="viewGallery(item.images)">Galería</span>
                }
                @if(item.flat && item.flat.length) {
                  <span class="Main__body__grid__card__capture__panel__option" (click)="viewFlat(item.flat)">Ver plano</span>
                }
              </div>
            </div>
            <h2 class="Main__body__grid__card__title">{{item.title}}</h2>
            <h3 class="Main__body__grid__card__subtitle">{{item.subtitle}}</h3>
            <h4 class="Main__body__grid__card__description">{{item.description}}</h4>
          </div>
        }
      </section>
    </section>

    <app-footer class="Main__footer" />
</main>
