@use '../../../styles/tools.scss' as tools;

.Gallery {
  padding: 50px;
  background-color: tools.colors(blackOne);

  &__posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 100%;

    &__card {
      width: 100%;
      height: 300px;
      border-radius: 15px;

      &__image {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }
  }

  &__ig-follow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      padding: 10px 15px;
      color: #fff;
      font-size: 15px;
      background-color: #0095F6;
      margin-top: 25px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      gap: 5px;

      &__icon {
        height: 1.5em;
      }
    }
  }
}
