<main class="Gallery">
  <section class="Gallery__posts">
    @for (post of galleryPosts(); track $index) {
      <div class="Gallery__posts__card" (click)="redirectTo(post)">
        <img class="Gallery__posts__card__image" [src]="downloadImageUrl + '/' + post.image_path">
      </div>
    }
  </section>

  <div class="Gallery__ig-follow">
    <button class="Gallery__ig-follow__button">
      <img class="Gallery__ig-follow__button__icon" src="../../../../assets/svg/instagram.svg" alt="instagram">
      {{ 'follow' | translate }}
    </button>
  </div>
</main>
