@use "../../../styles/tools.scss" as tools;

.Checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 5%;
  width: 100%;

  &__cart {
    width: 500px;
    display: flex;
    color: tools.colors(blackOne);
    flex-direction: column;
    gap: tools.spacing(m);

    @media screen and (max-width: 799px) {
      width: 100%;
      padding-inline: 25px;
    }

    &__title {
      font-size: tools.fontSizes(xl);
      text-align: center;
    }

    &__item {
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 1px 1px 5px 1px #50505050;

      img {
        cursor: pointer;
      }
    }

    &__total {
      padding: 1em;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__button {
        width: 200px;
      }
    }
  }

  &__receipt {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 25%;
    gap: 50px;

    @media screen and (max-width: 799px) {
      width: 100%;
      padding-inline: 25px;
    }

    &__text {
      font-size: 1.1em;
      font-family: "Poppins", sans-serif;
    }

    &__cbu {
      font-size: 1.1em;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }
  }

  &__form {
    width: 500px;
    margin-top: 5%;

    @media screen and (max-width: 799px) {
      width: 100%;
      margin-top: 10%;
    }

    &__title {
      text-align: center;
      font-size: tools.fontSizes(xl);

      @media screen and (max-width: 799px) {
        font-size: tools.fontSizes(l);
      }
    }

    &__data {
      margin-top: 5%;
      display: flex;
      gap: tools.spacing(m);
      flex-direction: column;

      @media screen and (max-width: 799px) {
        width: 100%;
        padding-inline: 25px;
      }

      &__wrapper {
        display: flex;
        width: 100%;
        gap: tools.spacing(m);

        @media screen and (max-width: 799px) {
          flex-direction: column;
        }

        // &__control {

        // }

        // &__button {

        // }
      }

      &__actions {
        width: 100%;
        display: flex;

        &__button {
          width: 100%;
        }
      }
    }
  }

  &__empty-cart {
    margin-top: 50px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
}
