<app-navbar />

<main class="Checkout">
  <section class="Checkout__cart">
    <h2 class="Checkout__cart__title">Tu carrito:</h2>
    @for (item of cart(); track $index) {
    <div class="Checkout__cart__item">
      <img
        src="../../../../assets/svg/trash.svg"
        alt="trash"
        (click)="deleteItem(item.id)"
      />
      <span> {{ item.name }}</span>
      <span>${{ item.price }}</span>
    </div>
    } @if (cart().length > 0) {
    <div class="Checkout__cart__total">
      <span>Total: ${{ total }}</span>
      <app-button
        (click)="emptyCart()"
        class="Checkout__cart__total__button"
        text="Vaciar carrito"
      />
    </div>
    }
  </section>
  @if (cart().length > 0) {
  <section class="Checkout__receipt">
    <p class="Checkout__receipt__text">
      Complete la transferencia de ${{ total }} a este CBU , cargue el
      comprobante fácilmente con un click en el botón adjunto y cargue los datos
      requeridos en el formulario para finalizar su compra.
    </p>
    <p class="Checkout__receipt__cbu">
      CBU: 00140027401508706212295 <br>
      ALIAS: ULTIMOOJO.ARQ
    </p>
    @if (receipt()) {
    <div class="Checkout__receipt__preview">{{ receipt()!.name }}</div>
    }

    <app-button text="Cargar comprobante" (click)="file.click()" />
    <input
      type="file"
      #file
      style="display: none"
      (change)="onFileLoaded($event)"
    />
  </section>

  <section class="Checkout__form">
    <h2 class="Checkout__form__title">Datos de facturación</h2>

    <form class="Checkout__form__data" [formGroup]="form()">
      <div class="Checkout__form__data__wrapper">
        <input
          class="Input"
          formControlName="name"
          placeholder="Nombre"
          type="text"
        />
        <input
          class="Input"
          formControlName="lastName"
          placeholder="Apellido"
          type="text"
        />
      </div>
      <div class="Checkout__form__data__wrapper">
        <input
          class="Input"
          formControlName="email"
          placeholder="E-mail"
          type="email"
        />
        <input
          class="Input"
          formControlName="phoneNumber"
          placeholder="Teléfono"
          type="text"
        />
      </div>
      <div class="Checkout__form__data__wrapper">
        <input
          class="Input"
          formControlName="cuit"
          placeholder="CUIT/CUIL"
          type="text"
        />
        <input
          class="Input"
          formControlName="address"
          placeholder="Dirección"
          type="text"
        />
      </div>
      <div class="Checkout__form__data__actions">
        <app-button
          class="Checkout__form__data__actions__button"
          type="Primary"
          text="Comprar"
          (click)="startSale()"
        />
      </div>
    </form>
  </section>
  } @else {
  <h3 class="Checkout__empty-cart">
    Agregue un producto desde la sección de plantillas para comenzar a llenar el
    carrito
  </h3>
  }
</main>

<app-footer />
