<section class="Bonus">
    <div class="Bonus__wrapper">
      <section class="Bonus__wrapper__banner"></section>
    </div>

    <section class="Bonus__info">
      <h1 class="Bonus__info__title">
        ¡BONUS EXCLUSIVO!
      </h1>
      <p class="Bonus__info__body">
        Cada plantilla incluye un video tutorial donde te mostraré como sacar el mejor provecho de estas herramienta y recibirás mi recomendaciones personales para utilizarlas.
      </p>

      <div class="Bonus__wrapper--mobile">
        <section class="Bonus__wrapper__banner--mobile"></section>
      </div>

      <button class="Bonus__info__button"> <img class="Bonus__info__button__icon" src="../../../../assets/svg/cart.svg"> Agregar al carrito</button>
    </section>
  </section>
