<section class="Bonus">
    <div class="Bonus__wrapper">
      <section class="Bonus__wrapper__banner"></section>
    </div>

    <section class="Bonus__info">
      <h1 class="Bonus__info__title">
        {{ 'bonus' | translate }}
      </h1>
      <p class="Bonus__info__body">
        {{ 'bonusInfo' | translate }}
      </p>

      <div class="Bonus__wrapper--mobile">
        <section class="Bonus__wrapper__banner--mobile"></section>
      </div>

      <button class="Bonus__info__button" (click)="addToCart()"> <img class="Bonus__info__button__icon" src="../../../../assets/svg/cart.svg"> {{ 'cart' | translate }}</button>
    </section>
  </section>
