<nav class="Navbar">
  <span class="Navbar__menu" (click)="toggleSidebar()">
    <img class="Navbar__menu__image" src="../../../../assets/svg/menu.svg" />
  </span>
  <div class="Navbar__logo">
    <img class="Navbar__logo__image" src="../../../../assets/images/logo.png" />
    <h1 class="Navbar__logo__title">ÚLTIMO OJO</h1>
  </div>
  <div class="Navbar__sections">
    <span routerLink="/home" class="Navbar__sections__link">{{ 'home' | translate }}</span>
    <span routerLink="/about" class="Navbar__sections__link">{{ 'about' | translate }}</span>
    <span
      class="Navbar__sections__link Navbar__sections__link--templates"
      [ngStyle]="{ display: '' }"
      (click)="toggleOptionsMobile()"
    >
    {{ 'templates' | translate }}
      <img class="Navbar__sections__link__arrow" src="../../../../assets/svg/arrowdown.svg" >
      <div class="Navbar__sections__link__options">
        <span
          routerLink="/contract"
          class="Navbar__sections__link__options__item"
          >{{ 'contractTemplate' | translate }}</span
        >
        <span
          routerLink="/questionnaire"
          class="Navbar__sections__link__options__item"
          >{{ 'customerTemplate' | translate }}</span
        >
        <span routerLink="/budget" class="Navbar__sections__link__options__item"
          >{{ 'budgetTemplate' | translate }}</span
        >
        <span routerLink="/pack" class="Navbar__sections__link__options__item"
          >{{ 'pack' | translate }}</span
        >
      </div>
    </span>
    <span routerLink="/newsletter" class="Navbar__sections__link"
      >Newsletter</span
    >
    <span routerLink="/projects" class="Navbar__sections__link"
      >{{ 'projects' | translate }}</span
    >
    <span routerLink="/contact" class="Navbar__sections__link">{{ 'contact' | translate }}</span>
  </div>
  <div class="Navbar__cart" routerLink="/checkout">
    @if (country === 'Argentina') {
      <span class="Navbar__cart__total">{{ total | currency }} </span>
    } @else {
      <span class="Navbar__cart__total">{{ usdTotal | currency }} </span>
    }
    <img
      class="Navbar__cart__image"
      src="../../../../assets/svg/cart.svg"
      alt="Carrito"
    />
  </div>

  <div class="Navbar__language">
    <img [src]="getFlagPath()" alt="language" (click)="changeLanguage()">
  </div>

  <div class="Navbar__login">
    <img
      src="../../../../assets/svg/login.svg"
      alt="login"
      routerLink="/login"
    >
  </div>
</nav>

@if (sidebarOpen) {
<app-sidebar (closed)="toggleSidebar()" />
}
